:root {
  --background-image: url("./backdrop.webp");
  --profile-image: url("./profile.png");

  --slash-color: #354f52;
  --text-color: white;
  --code-color: #cad2c5;
  --gradient-start: #2f3e46;
  --gradient-end: rgba(202, 210, 197, 0.3);
}

@keyframes come-in {
  0% {
    opacity: 0;
    translate: 0 -20px;
  }
  100% {
    opacity: 1;
    translate: none;
  }
}
