:root {
  --background-image: url("./background.webp");
  --profile-image: url("./profile.png");

  --slash-color: #ff0099;
  --text-color: white;
  --code-color: #adadad;
  --gradient-start: #8e0ade;
  --gradient-end: rgba(230, 11, 103, 0.5);
}

@keyframes come-in {
  0% {
    opacity: 0;
    translate: 0 -20px;
  }
  100% {
    opacity: 1;
    translate: none;
  }
}
