@import "./config.css";
body {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  overflow: hidden;
}

footer {
  height: 2rem;
  text-align: end;
  margin-right: 1rem;
  color: var(--text-color);
  position: absolute;
  bottom: 0;
  right: 0;
}

aside {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main {
  grid-column: 2;
  padding-right: 2rem;
}

h1 {
  font-size: 2.5em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

code {
  font-size: 1.5em;
  color: var(--code-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.hero {
  width: 60rem;
  height: 40rem;
  background-color: rgba(208, 205, 205, 0.16);
  backdrop-filter: blur(25px);
  border-radius: 40px;
  display: grid;
  grid-template: auto / 12.5rem auto;
  border: 3px solid rgba(255, 255, 255, 0.15);
}

.fix {
  min-height: 2rem;
}

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.half-gap {
  gap: 0.5rem;
}
.flex-center {
  align-items: center;
}

.contact-links {
  row-gap: 10px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.p-relative {
  position: relative;
}

.slash {
  margin-left: 0.25rem;
  color: var(--slash-color);
}

.bi {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.bigger {
  font-size: 1.25rem;
}

.home {
  position: relative;
}

.profile-image {
  background: var(--profile-image) no-repeat;
  background-size: contain;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(215, 215, 215, 0.15);
  border-radius: 10px;
  /*Transition does not work here*/
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(215, 215, 215, 0.3);
}

@media screen and (max-width: 900px) {
  body {
    display: block;
    min-height: unset;
    overflow-y: auto;
    margin-bottom: -1rem;
  }
  .hero {
    width: 100vw;
    height: unset;
    min-height: 98vh;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    padding-bottom: 1rem;
  }
  aside {
    margin-top: 0.5rem;
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .home {
    text-align: justify;
  }
  .fix {
    text-align: left;
  }
  .profile-image {
    display: none;
  }
  footer {
    display: none;
  }
}

@media screen and (max-height: 830px) {
  .hero {
    margin-bottom: 5rem;
  }
}
