.circle{
    border-radius: 100%;
    background: rgba(215, 215, 215, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
}

.size1 {
    width: 5rem;
    height: 5rem;
    font-size: 12px;
    gap: 4px;
}

.size2 {
    width: 7rem;
    height: 7rem;
    font-size: 14px;
    line-height: 14px;
    gap: 6px;
}

.size3 {
    width: 10rem;
    height: 10rem;
    font-size: 16px;
    gap: 12px;
}

.name {
    margin: 0;
}